<% if (result) { %>
<!-- <h2><%= result[0] %></h2> -->

<div class="container mt-100">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 href="#" class="text-center bg-red">Manager User</h1>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <a href="./user/add" class="text-center">Thêm</a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Stt</th>
            <th>UserName</th>
            <th>Password</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Gender</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i =0 ; i<result.length;i++) { %>
          <tr>
            <td><%= i+1 %> </td>
            <td><%= result[i].username %> </td>
            <td><%= result[i].password %> </td>
            <td><%= result[i].firstname %> </td>
            <td><%= result[i].lastname %> </td>
            <td><%= result[i].gender %> </td>

            <td>
              <a href="./user/update/<%= result[i].id %>">Update</a>&nbsp;
              <a href="./user/delete/<%= result[i].id %>">Delete</a>
            </td>
          </tr>
          <%} %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% } %>
