<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết giỏ hàng</title>
    <link rel="stylesheet" href="./../../css/all.css">
    <link rel="stylesheet" href="./../../css/bootstrap.css">
    <link rel="stylesheet" href="./../../css/product-detail.css">
</head>
<!--giỏ hàng  -->
<%-  include('./header') %>
<!-- <%= data %> -->


<section id="cart">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="receiver">
                    <div>
                        <span class="content-one">Đến : </span> <span class="content-two"><%= info["receiver"] %></span>
                    </div>
                    <div>
                        <span class="content-one">Địa chỉ :</span> <span class="content-two"><%= info["address"] %></span>
                    </div>
                    <div>
                        <span class="content-one">Số điện thoại :</span> <span class="content-two"><%= info["phone"] %></span>
                    </div>
                </div>


            </div>
            <div class="col"></div>
        </div>
    </div>
    <div id="status-cart">
        <div class="exist-cart">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-12">
                        <div class="box">
                            <div class="box-1">
                                <div class="row-1 row-same">Tât cả(1 sản phẩm)</div>
                                <div class="row-2 row-same">Đơn giá</div>
                                <div class="row-3 row-same">Số lượng</div>
                                <div class="row-4 row-same">Thành tiền</div>
                                <div class="row-5 row-same"></div>
                            </div>
                            <% for( let index = 0; index < data.length; index++ ) { %>
                            <div class="box-2">
                                <div class="row-1 row-same">
                                    <img src="data:image/png; base64,<%= data[index]["image"] %>" alt="">
                                    <p> <%= data[index]["name"] %>
                                    </p>
                                </div>
                                <div class="row-2 row-same">
                                    <span><%= data[index]["price"] %></span>₫
                                </div>
                                <div class="row-3 row-same">
                                    <div>
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <span class="btn"><%= result[0]["products"][index].quantity%></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-4 row-same"><span><%= data[index]["price"] * result[0]["products"][index].quantity%> %>
                                    </span> ₫</div>
                                <div class="row-5 row-same">
                                    <!-- <span>
                                            <i class="fa-light fa-trash"></i>
                                        </span> -->
                                </div>
                            </div>
                            <% } %>




                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="buy-cart">
                            <div class="content">
                                <div class="total">
                                    <p>Tổng tiền</p>
                                    <span style="color: red;">0</span>₫
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--/giỏ hàng  -->
<%-  include('./footer') %>
</body>

</html>