<!-- <%= products %>  -->
<section id="list-product">
    <div class="container">
        <div class="row">
            <% for( let index = 0; index < products.length; index++ ) { %>
                <div class="col-lg-3 box-list-product">
                    <a href="/product/<%= products[index].id %> ">
                        <img src="data:image/png; base64,<%= products[index].image %>" class="rounded mx-auto d-block" alt="...">
                        <div class="content">
                            <p class="product-name"><%= products[index].name %></p>
                            <span class="product-price"><%= products[index].price %></span>₫
                        </div>
                    </a>
                </div>
            <% } %>
            
        </div>
    </div>
</section>